.controls {
  margin-top: 20px;
}

table.ng-808 {
  th {
    width: 3em;
  }

  th.current {
    border-bottom: 3px red solid;
  }

  td {
    &.event-cell {
      cursor: pointer;
    }

    &.current {
      background-color: #FBFBFB;
    }

    &.off {
      background-color: white;

      &.ghost {
        background-color: #F3F3F3;
      }
    }

    &.on {
      background-color: #E89BA0;

      &.ghost {
        background-color: #D0D0D0;
      }
    }

    &.accent {
      background-color: #E84A4A;

      &.ghost {
        background-color: #A0A0A0;
      }
    }
  }

  tr.last td.current {
    border-bottom: 1px red solid;
  }
}
