.controls {
  margin-top: 20px;
}

table.ng-808 {
  th {
    width: 3em;
  }

  th.current {
    border-bottom: 3px red solid;
  }

  td {
    &.event-cell {
      cursor: pointer;
    }

    &.current {
      background-color: #FBFBFB;
    }

    &.off {
      background-color: white;
    }

    &.on {
      background-color: #E89BA0;
    }

    &.accent {
      background-color: #E84A4A;
    }
  }

  tr.last td.current {
    border-bottom: 1px red solid;
  }
}
